* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

nav {
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
nav .nav-content {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 16px;
  border-bottom: 1px solid #ccc;
  gap: 20px;
}
nav .logo,
nav .item {
  padding: 6px 0;
}
nav .items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
nav .items .left-side {
  display: flex;
  align-items: center;
  gap: 16px;
}
nav .items .right-side {
  display: flex;
  align-items: center;
  gap: 16px;
}
nav .items .item {
  font-weight: 600;
  font-size: 15px;
  color: #050505;
  cursor: pointer;
}
nav a.login-btn {
  background-color: #121212;
  border-radius: 5px;
  box-shadow: #0000001f 0px 0.325926px 0.733333px 0px;
  color: #fff !important;
  padding: 5px 11px;
  text-align: center;
}
nav a.login-btn:hover {
  background-color: #333;
}
nav .menu-toggler {
  display: none;
  padding: 11px;
  margin: -11px;
  background: none;
  border: none;
}

.container {
  width: 88vw;
  max-width: 1392px;
  padding: 0;
  margin: 0 auto;
}

.wrapper {
  margin: 80px 0;
}

.heading {
  display: grid;
  grid-template-columns: 1fr 700px 1fr;
  width: 100%;
  margin: 40px 0;
}
.heading a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}
.heading a:hover {
  color: #0a85d1;
}
.heading .publish-date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  margin-bottom: 12px;
}
.heading .publish-date a {
  text-decoration: underline;
  text-underline-offset: 0.1em;
}
.heading .title {
  color: #121212;
  font-weight: 700;
  letter-spacing: -1.6271px;
  font-size: 53px;
  line-height: 58px;
}

.author-section {
  display: flex;
  justify-content: start;
}
.author-wrapper {
  margin-top: 12px;
  display: flex;
  flex-flow: row;
  gap: 10px;
  flex: 0 1 auto;
  width: 100%;
}
.avatar-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}
.author__avatar {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  object-fit: cover;
}
.author__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.author__name {
  color: #050505;
  font-weight: 500;
  font-size: 15px;
}
.author__company {
  color: #0006;
  font-size: 12px;
}

.banner {
  width: 100%;
  margin: 40px 0;
  display: block;
}

.content {
  margin: 0 auto;
  max-width: 700px;
}
.content p {
  color: #050505;
  font-size: 18px;
  line-height: 28px;
  margin: 12px 0;
}
.content h2 {
  color: #121212;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.66px;
  line-height: 32px;
  margin-top: 2rem;
}

@media screen and (max-width: 1080px) {
  .heading {
    display: block;
    margin-top: -20px;
  }
  .heading .nav {
    margin-bottom: 12px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #121212;
    min-height: 36px;
    padding: 0.25rem 0.875rem;
    font-weight: 600;
    border-radius: 5px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 24px;
  }
  .heading .title {
    font-size: 42px;
    line-height: 49px;
  }

  nav .menu-toggler {
    display: block;
  }
  nav .items {
    display: none;
  }
}
